@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    /* background-color: rgb(171, 228, 228); */
    font-family: 'Roboto', sans-serif;
}
body{
    /* height: 100%; */
    background-image: linear-gradient(aqua, white);
    height: 800px;
}
.navbar{
    background-color: aqua;
  font-size: larger;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: right;
    list-style: none;
    padding: 3px 3px;
    margin: 4px 40px;
}
.navbar li a{
    padding: 3px 3px;
    /* text-decoration: none; */
    color: rgb(5, 2, 36);
    font-size:large;
}
.up{
    top:50px;
    left: 15%;
    position: absolute;
}
.x1{
    color: rgb(5, 2, 36);
font-size: 100px;
margin-left: 50%;
margin-top: 8%;
    }
    .x2{
        color: rgb(5, 2, 36);
    font-size: 25px;
    margin-left: 58%;
    margin-top: 0px;
        }
        .x3{
            margin-top: 200px;
            font-size: 30px;
        }
        .districts{
            font-size: 24px;
        }

        .content{
            margin: 2px 0;
            font-size: medium;
            min-width: none;

        }
        .content thead tr{

            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content th
        .content td{
            padding: 12px 15px;

        }
        .content tbody tr{
            border-bottom: 1px solid #dddddd;

        }
        .content tbody tr:nth-of-type(even){
            background: #f3f3f3;

        }
        .content tbody tr:last-of-type{
            border-bottom: 2px solid #009879;
        }
