@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    /* background-color: rgb(171, 228, 228); */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* height: 100%; */
    /*background-image: linear-gradient(aqua 40%, white);*/
    background-image:linear-gradient(  aqua,rgb(188, 248, 248) 40%, white);

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
   
}
/*.navbar{
    background-color: aqua;
    font-size: larger;
    margin-left: 820px;
}
.navbar ul{
    overflow: hidden;
    margin-right: 30px;
}
.navbar ul li{
    float: right;
    list-style: none;
    padding: 3px 3px;
    margin: 4px 40px;
    
}*/
/*.navbar li a{
    padding: 3px 3px;
    /* text-decoration: none; */
   /* color: rgb(5, 2, 36);
    font-size:large;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
}
.navbar ul li a:hover{
    color: white;
}
.navbar ul li a:hover .dropdown{
    display: block;
    
    color: black;
}*/
.up{
    top:50px;
    left: 15%;
    position: absolute;
}
.x1{
    color: rgb(5, 2, 36);
    font-size: 100px;
    margin-left: 50%;
    margin-top: 8%;
    font-size:10vw;
}
.x2{
    color: rgb(5, 2, 36);
    font-size: 25px;
    margin-left: 60%;
    margin-top: 0px;
}
.x3{
    margin-top: 200px;
    font-size: 30px;
}
.districts{
    font-size: 24px;
}

.pagination{
    margin-left: 36%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a {
    color: black;
    float: center;
    
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .4s;
}
  
.pagination a.active {
    background-color: #4cf3d7;
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;color:#4cf3d7 ;
}
/*.drop{ font-size: 22px; color: #c5ecfd; margin-left: 66.5999%; margin-top: 37px; transform: translate(-50%,-50%); background-color: transparent; 
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    padding: 10px ;
    width: 190px; } 
.select{
    padding-top: 5px; font-size: 25px; font-style: normal; padding: 4px 4px; }
.drop{
    
    color: black;
    border: none;
}*/
.buynow{
    display: flex;

}
.btn1{
    width: 50%;

}
.buynowbtn1{
    border-radius: 20px;
    color: #052E16;
    background: none;
    width: 130px;
    
    border: 2px solid rgb(4, 75, 75);
    margin-left: 550px;
   

}
.btn2{
    width: 50%;
}
.buynowbtn2{
    border-radius: 20px;
    color: #052E16;
    background: none;
    width: 130px;
    border: 2px solid rgb(4, 75, 75);
    margin-right: 650px;

}
nav{
    background-color: aqua;

}
nav ul{
    float: right ;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    
    display: inline-block;
    margin: 0px 5px;

}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    line-height: 70px;
    padding: 8px 15px;
}
nav ul li a:hover{
    background-color: aqua;
    color: white;

}
nav ul ul{
    position: absolute;
    top:70px;
    opacity: 0;
    visibility: hidden;
    transition: top .2s;
}  
nav ul li:hover >ul{
    opacity: 1;
    visibility: visible;
    top:70px;

}
nav ul ul li a:hover{
    background-color: transparent;
    
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width:150px;
    float:none;
    height: 40px;
    display:list-item;
    
    
    
}
.container{
    max-width: 1170px;
    /* background-color: rgb(255, 0, 0);  */
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-row  ul{
    list-style: none;
}

 
.footer{
    background-color: #303233;
    padding: 70px 0;
    
}
.footer-col{
    width: 25%;
    padding: 0 15px;
  
  }
.footer-col h4{
    font-size: 18px;
    color: #ffffff80;
    margin-bottom: 35px;
    font-weight: bolder;
    position: relative;
    font-size: 30px;
   /* background-color: rgb(9, 9, 27);*/
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
   background-color: #e91e63;
    box-sizing: border-box;
    width:50px ;
    
}
  
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.25s ease;
  
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    /*background-color: rgba(255, 255, 255,0.2);*/
    margin-right: 10px;
    border-radius: 50px;
  
}
.social-links i{
    margin-left:12px ;
    margin-top: 10px;
    font-size: 25px;
   
}
.facebook:hover {
    background:#4267B2;
    
}
.twitter:hover{
    background:#1DA1F2;
}
.instagram:hover{
   /* background: #E1306C ;*/
   background: #d6249f;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
.linkedin:hover{
   background:  #0e76a8 ;
  
}
.facebook:hover i{
    color: white;
}
.twitter:hover i{
    color: white;
}
.linkedin:hover i{
    color:white;
}
.instagram:hover i{
    color: white;
}
.email:hover{
    background: rgb(238, 19, 19);
}
.email:hover i{
    color:white

}



